.card_form_col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 30px;
}
