.signup-form {
    background-color: #fff;
    padding: 60px 50px;
    text-align: left;
    border-radius: 5px;
}

.signup-form_form {
    text-align: right;
    margin-top: 50px;
}

.signup-form_header h2 {
    font-size: 36px;
}

.signup-form_header span {
    font-size: 16px;
}

.signup-form_header span a {
    color: #1473e6;
    text-decoration: none;
    border: none;
    background-color: transparent;
    padding: 0;
}

.signup-form_header span a:hover {
    cursor: pointer;
}

.signup-form_form input {
    display: block;
    width: 400px;
    margin-bottom: 40px;
    padding: 10px 0;
    border: none;
    border-bottom: 2px solid #1473e6;
}

#signup-input-firstname {
    width: 45%;
    display: inline-block;
    margin-right: 10%;
}

#signup-input-lastname {
    width: 45%;
    display: inline-block;
}

.signup-form_form button {
    margin-top: 30px;
    padding: 15px 35px;
    font-weight: bold;
    background-color: #ffc617;
    border: none;
    border-radius: 5px;
}

.signup-form_form button:hover {
    cursor: pointer;
}