.menu-list {
    list-style: none;
    display: inline-block;
}

.menu-list_item {
    display: inline-block;
}

.menu-list_item_link {
    padding: 10px 15px;
    color: #333333;
    text-decoration: none;
}

.menu-list_item_link:hover {
    background-color: #f2f2f2;
    border-radius: 5px;
}